.landing-container {
    background: linear-gradient(to bottom right, cyan,rgb(47, 34, 131));
    width: 100%;
    min-height: 100vh;
}

.register {
    width: 35em;
    padding-top: 1.8em;
    margin-left: auto;
    margin-right: auto;
}

.loginText {
    color: rgb(180, 179, 179);
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 6em;
}

.whiteText {
    color: white;
}